---
import fs from 'node:fs'
import '../../styles/global.css'
import Grids from '../../components/CollectionDisplay.svelte'
import Version from '../../components/SiteInformation.svelte'

let plate_name_contents : string[] = []

if (process.env.PLATE_PATH) {
  plate_name_contents = fs.readdirSync(process.env.PLATE_PATH ? process.env.PLATE_PATH : '')
}

const plate_metadata = [];

for (let index = 0; index < plate_name_contents.length; index++) {
  const plateName = plate_name_contents[index];
  plate_metadata.push({proxy_origin: process.env.PLATE_PATH as string, name: encodeURI(plateName)})
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/showcase/favicon.png" />
		<link rel="icon" href="/showcase/favicon.ico" />
		<meta content="/showcase/mini.png" property="og:image" />
		<meta content="SDEZ All Collection" property="og:title">
		<meta content="https://bway.lol/showcase" property="og:url">
		<meta content="Funny washing game .pngs" property="og:description">
		<meta name="theme-color" content="#FFA7CB" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>1.65 Nameplates</title>
  </head>
  <body class="bg-shiroko-5 text-white font-[Google_Sans]">
    <div class="flex flex-col justify-center-safe items-center-safe align-middle">
    <Version />
    <Grids metadata={plate_metadata} collection_display_size="plate" client:only="svelte"/>
  </body>
</html>